---
title: Sandbox Kite club
---
<div class="weather-info">
  <div class="js-weather-date"></div>
  <div class="js-weather-text"></div>
</div>
<div id="home" class="show-for-medium-up">
  <div class="row">
    <div class="intro-center">
      <div>
        Feel the Sandbox lifestyle
      </div>
      <div>
        sand <span>/</span> chillin' <span>/</span> fun <span>/</span> wind <span>/</span> party <span>/</span> water sport <span>/</span> Ada Bojana
      </div>
    </div>

    <img src="{{ assets }}/img/sandbox-logo.png" class="js-get-weather-rss" alt="sandbox logo"/>
    <div class="large-4 columns large-offset-2 end">
      {{{ md content.home }}}
    </div>
  </div>
</div>

<div id="in-general" class="page">
  <div class="row intro">
    <blockquote>
      In the morning, <br>
      you can wake up along the beautiful Adriatic coast,<br>
      have lunch on the banks of Skadar Lake<br>
      and enjoy an evening walk in the Montenegrin mountains.<br>
      <span>Montenegro</span><br>
      <span>cannot leave you indifferent.</span>
    </blockquote>

    <img src="{{ assets }}/img/bg/in-general.jpg"
         sizes="(min-width: 1000px) 1600px,
                (min-width: 768px) 1000px,
                (min-width: 480px) 768px,
                (min-width: 375px) 480px,
                375px"
         srcset="{{ assets }}/img/bg/in-general-375.jpg 375w,
                 {{ assets }}/img/bg/in-general-480.jpg 480w,
                 {{ assets }}/img/bg/in-general-768.jpg 768w,
                 {{ assets }}/img/bg/in-general-1000.jpg 1000w,
                 {{ assets }}/img/bg/in-general.jpg 1600w"

         alt="In general page background">
    </img>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>In general</h1>
       <a class="right top-btn" href="#top">back to top</a>
    </div>


    <div class="large-4 columns large-offset-2">
      {{{ md content.in-general }}}
      {{{ md content.in-general-spot }}}
      {{{ md content.in-general-visa }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.in-general-currency-payment }}}
      {{{ md content.in-general-get-there }}}
    </div>

    <!-- gallery start -->
    <div class="large-12 columns gallery">
      <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-8">
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-56.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-56.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-55.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-55.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-54.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-54.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-53.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-53.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-52.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-52.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-51.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-51.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-50.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-50.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-47.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-47.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-03.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-03.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-34.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-34.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-35.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-35.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-36.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-36.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-37.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-37.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-38.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-38.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-39.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-39.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-40.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-40.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-41.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-41.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-10.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-10.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-11.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-11.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-12.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-12.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-13.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-13.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-14.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-14.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-15.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-15.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-17.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-17.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-18.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-18.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-19.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-19.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-20.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-20.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-22.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-22.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-23.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-23.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-24.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-24.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-25.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-25.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-26.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-26.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-27.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-27.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-28.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-28.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-29.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-29.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-30.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-30.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-31.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-31.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-32.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-32.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-33.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-33.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-42.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-42.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-43.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-43.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-44.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-44.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-45.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-45.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-46.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-46.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-01.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-01.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-02.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-02.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-04.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-04.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-05.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-05.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-06.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-06.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-07.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-07.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-08.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-08.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-09.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-09.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-16.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-16.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="in-general" href="{{ assets }}/img/galleries/in-general/velike/in-general-21.jpg"><img class="media-small" src="{{ assets }}/img/galleries/in-general/male/in-general-mala-21.jpg" alt=""/></a></li>
      </ul>
    </div>
    <!-- gallery end -->
  </div>
</div>

<div id="school" class="page">
  <div class="row intro">
    <blockquote>
      <span>Trust us,</span><br>
      we know how to make you<br>
      fall in love with kite and board!
    </blockquote>

    <img src="{{ assets }}/img/bg/school-2-1600.jpg"
         sizes="(min-width: 1000px) 1600px,
                (min-width: 768px) 1000px,
                (min-width: 480px) 768px,
                (min-width: 375px) 480px,
                375px"
         srcset="{{ assets }}/img/bg/school-2-375.jpg 375w,
                 {{ assets }}/img/bg/school-2-480.jpg 480w,
                 {{ assets }}/img/bg/school-2-768.jpg 768w,
                 {{ assets }}/img/bg/school-2-1000.jpg 1000w,
                 {{ assets }}/img/bg/school-2-1600.jpg 1600w"

         alt="School page background">
    </img>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>School</h1>
      <h2 class="subtitle">IKO Instructors</h2>
       <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.school }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.school-courses-1 }}}
      {{{ md content.school-courses-2 }}}
    </div>

    <!-- gallery start -->
    <div class="large-12 columns gallery">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-8">
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-01.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-01.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-02.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-02.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-03.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-03.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-04.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-04.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-05.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-05.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-06.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-06.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-07.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-07.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-08.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-08.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-09.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-09.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-10.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-10.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-11.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-11.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-12.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-12.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-13.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-13.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-14.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-14.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-15.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-15.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-16.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-16.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-17.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-17.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-18.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-18.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-19.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-19.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-20.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-20.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-21.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-21.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-22.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-22.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-23.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-23.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-30.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-30.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-31.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-31.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-32.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-32.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-33.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-33.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-34.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-34.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-35.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-35.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-36.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-36.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="school" href="{{ assets }}/img/galleries/school/velike/school-37.jpg"><img class="media-small" src="{{ assets }}/img/galleries/school/male/school-mala-37.jpg" alt=""/></a></li>
      </ul>
    </div>
    <!-- gallery end -->
  </div>
</div>

<div id="package" class="page">
  <div class="row intro">
    <blockquote>
      You can make a package to suit you,<br>
      <span>just contact us and we'll make a deal.</span>
    </blockquote>

    <img src="{{ assets }}/img/bg/package.jpg"
         sizes="(min-width: 1000px) 1600px,
                (min-width: 768px) 1000px,
                (min-width: 480px) 768px,
                (min-width: 375px) 480px,
                375px"
         srcset="{{ assets }}/img/bg/package-375.jpg 375w,
                 {{ assets }}/img/bg/package-480.jpg 480w,
                 {{ assets }}/img/bg/package-768.jpg 768w,
                 {{ assets }}/img/bg/package-1000.jpg 1000w,
                 {{ assets }}/img/bg/package.jpg 1600w"

         alt="Package page background">
    </img>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Package</h1>
       <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.package }}}
      {{{ md content.package-prices }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.package-packages }}}
      {{{ md content.package-accommodation }}}
      {{{ md content.package-private-accommodation }}}
      {{{ md content.package-sandbox-accommodation }}}
      <!-- gallery start -->
      <div class="large-12 columns">
        <ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
          <li><a class="fancybox grouped_elements" rel="sandbox" href="{{ assets }}/img/galleries/package/sandbox/velike/sandbox-02.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/sandbox/male/sandbox-02.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="sandbox" href="{{ assets }}/img/galleries/package/sandbox/velike/sandbox-01.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/sandbox/male/sandbox-01.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="sandbox" href="{{ assets }}/img/galleries/package/sandbox/velike/sandbox-03.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/sandbox/male/sandbox-03.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="sandbox" href="{{ assets }}/img/galleries/package/sandbox/velike/sandbox-04.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/sandbox/male/sandbox-04.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="sandbox" href="{{ assets }}/img/galleries/package/sandbox/velike/sandbox-05.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/sandbox/male/sandbox-05.jpg" alt=""/></a></li>
        </ul>
      </div>
      <!-- gallery end -->
      {{{ md content.package-venezia-accommodation }}}
      <!-- gallery start -->
      <div class="large-12 columns">
        <ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-01.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-01.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-02.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-02.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-03.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-03.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-04.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-04.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-05.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-05.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-06.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-06.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-07.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-07.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-08.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-08.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-09.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-09.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-10.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-10.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-11.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-11.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-12.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-12.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-13.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-13.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-14.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-14.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-15.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-15.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-16.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-16.jpg" alt=""/></a></li>
          <li><a class="fancybox grouped_elements" rel="palata-venezia" href="{{ assets }}/img/galleries/package/palata-venezia/velike/palata-venezia-17.jpg"><img class="media-small" src="{{ assets }}/img/galleries/package/palata-venezia/male/palata-venezia-mala-17.jpg" alt=""/></a></li>
        </ul>
      </div>
      <!-- gallery end -->
    </div>
  </div>
</div>

<div id="team" class="page">
  <div class="row intro">
    <blockquote>
      <span>Meet the team</span>
    </blockquote>

    <img src="{{ assets }}/img/bg/team-1-1600.jpg"
         sizes="(min-width: 1000px) 1600px,
                (min-width: 768px) 1000px,
                (min-width: 480px) 768px,
                (min-width: 375px) 480px,
                375px"
         srcset="{{ assets }}/img/bg/team-1-375.jpg 375w,
                 {{ assets }}/img/bg/team-1-480.jpg 480w,
                 {{ assets }}/img/bg/team-1-768.jpg 768w,
                 {{ assets }}/img/bg/team-1-1000.jpg 1000w,
                 {{ assets }}/img/bg/team-1-1600.jpg 1600w"

         alt="Team page background">
    </img>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Team</h1>
       <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-12 columns">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li>
          <img class="media-small" src="{{ assets }}/img/team/dragan-pusica-pushka.jpg" alt=""/>
          {{{ md content.team-puska }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/ilija-nikitovic.jpg" alt=""/>
          {{{ md content.team-ilija }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/dirk-derksen.jpg" alt=""/>
          {{{ md content.team-dirk }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/oleg-axenov.jpg" alt=""/>
          {{{ md content.team-oleg }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/cathy-padgett.jpg" alt=""/>
          {{{ md content.team-cathy }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/jonny-smith.jpg" alt=""/>
          {{{ md content.team-jonny }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/uros-lukic.jpg" alt=""/>
          {{{ md content.team-uros }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/aleksandar-gvozden.jpg" alt=""/>
            {{{ md content.team-aleksandar }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/bojan-miljanic.jpg" alt=""/>
            {{{ md content.team-bojan }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/tamara-bar-staff.jpg" alt=""/>
          {{{ md content.team-tamara }}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="video" class="page">
  <div class="row intro">
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Video</h1>
       <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-4 columns large-offset-2">
      <div class="video-container media-big">
        <iframe width="560" height="315" src="//player.vimeo.com/video/70685253?title=0&amp;byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="large-4 columns end">
      <div class="video-container media-big">
        <iframe width="560" height="315" src="//www.youtube.com/embed/5jjFq3b-lWc" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="faq" class="page">
  <div class="row intro">
    <blockquote>
      <span>When</span><br>
      the season starts<br>
      and how long it lasts?
    </blockquote>

    <img src="{{ assets }}/img/bg/faq.jpg"
         sizes="(min-width: 1000px) 1600px,
                (min-width: 768px) 1000px,
                (min-width: 480px) 768px,
                (min-width: 375px) 480px,
                375px"
         srcset="{{ assets }}/img/bg/faq-375.jpg 375w,
                 {{ assets }}/img/bg/faq-480.jpg 480w,
                 {{ assets }}/img/bg/faq-768.jpg 768w,
                 {{ assets }}/img/bg/faq-1000.jpg 1000w,
                 {{ assets }}/img/bg/faq.jpg 1600w"

         alt="Video page background">
    </img>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Frequently asked questions</h1>
       <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.faq-1 }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.faq-2 }}}
    </div>
  </div>
</div>

<div id="price" class="page">
  <div class="row intro">
    <blockquote>
      We will take care of the highest quality of your taining,<br>
      <span>as well as safety and fun!</span>
    </blockquote>

    <img src="{{ assets }}/img/bg/price-1-1600.jpg"
         sizes="(min-width: 1000px) 1600px,
                (min-width: 768px) 1000px,
                (min-width: 480px) 768px,
                (min-width: 375px) 480px,
                375px"
         srcset="{{ assets }}/img/bg/price-1-375.jpg 375w,
                 {{ assets }}/img/bg/price-1-480.jpg 480w,
                 {{ assets }}/img/bg/price-1-768.jpg 768w,
                 {{ assets }}/img/bg/price-1-1000.jpg 1000w,
                 {{ assets }}/img/bg/price-1-1600.jpg 1600w"

         alt="Price page background">
    </img>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Price</h1>
       <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.price-1 }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.price-2 }}}
    </div>
  </div>
</div>

<div id="snowkite" class="page">
  <div class="row intro">
    <blockquote>
      coming soon,<br>
      <span>Snow kite with Sandbox!</span>
    </blockquote>

    <img src="{{ assets }}/img/bg/snow.jpg"
         sizes="(min-width: 1000px) 1600px,
                (min-width: 768px) 1000px,
                (min-width: 480px) 768px,
                (min-width: 375px) 480px,
                375px"
         srcset="{{ assets }}/img/bg/snow-375.jpg 375w,
                 {{ assets }}/img/bg/snow-480.jpg 480w,
                 {{ assets }}/img/bg/snow-768.jpg 768w,
                 {{ assets }}/img/bg/snow-1000.jpg 1000w,
                 {{ assets }}/img/bg/snow.jpg 1600w"

         alt="Snow page background">
    </img>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Snow kite</h1>
      <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-4 columns large-offset-2 end">
        {{{ md content.snow-dates }}}
        {{{ md content.snow-spot }}}
    </div>

    <div class="large-4 columns end">
        {{{ md content.snow-price }}}

      <div class="video-container media-big">
        <iframe src="//player.vimeo.com/video/7008506?title=0&amp;byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <!-- gallery start -->
    <div class="large-12 columns gallery">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-8">
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-01.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-01.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-02.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-02.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-03.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-03.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-04.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-04.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-05.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-05.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-06.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-06.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-07.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-07.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-08.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-08.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-09.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-09.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-10.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-10.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-11.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-11.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-12.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-12.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-13.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-13.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-14.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-14.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-15.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-15.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-16.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-16.jpg" alt=""/></a></li>
        <li><a class="fancybox grouped_elements" rel="snow" href="{{ assets }}/img/galleries/snow/velike/snow-17.jpg"><img class="media-small" src="{{ assets }}/img/galleries/snow/male/snow-17.jpg" alt=""/></a></li>
      </ul>
    </div>
    <!-- gallery end -->
  </div>
</div>

<div id="contact" class="page">
  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Be in touch</h1>
      <a class="right top-btn" href="#top">back to top</a>
    </div>

    <div class="large-4 columns large-offset-2">
      <a target="_blank" href="https://www.google.com/maps/place/Sandbox+Beach/@41.8820431,19.3162823,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x2ed9e3991bfb314f!8m2!3d41.8820391!4d19.318471?hl=en-US">
        <img class="media-big" src="{{ assets }}/img/map.png" alt="Google map location"/>
        <h5>Google map location:</h5>
      </a>
    </div>

    <div class="large-4 columns end">
      {{{ md content.contact }}}
    </div>
  </div>
</div>
