---
title: Home
position: 1
---
<div id="home" class="show-for-medium-up">
  <div class="row">
    <div class="large-4 columns large-offset-2 end">
      {{{ md content.home }}}
    </div>
  </div>
</div>

<div id="in-general" class="page">
  <div class="row intro">
    <blockquote>
      In the morning, <br>
      you can wake up along the beautiful Adriatic coast,<br>
      have lunch on the banks of Skadar Lake<br>
      and enjoy an evening walk in the Montenegrin mountains.<br>
      <span>Montenegro</span><br>
      <span>cannot leave you indifferent.</span>
    </blockquote>
    <img src="{{ assets }}/img/bg/general.jpg" class="bg" alt=""/>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>In general</h1>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.in-general }}}
      {{{ md content.in-general-spot }}}
      {{{ md content.in-general-visa }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.in-general-currency-payment }}}
      {{{ md content.in-general-get-there }}}
    </div>
  </div>
</div>

<div id="school" class="page">
  <div class="row intro">
    <blockquote>
      <span>Trust us,</span><br>
      we know how to make you<br>
      fall in love with kite and board!
    </blockquote>
    <img src="{{ assets }}/img/bg/school.jpg" class="bg" alt=""/>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>School</h1>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.school }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.school-courses-1 }}}
      {{{ md content.school-courses-2 }}}
    </div>
  </div>
</div>

<div id="package" class="page">
  <div class="row intro">
    <blockquote>
      You can make a package to suit you,<br>
      <span>just contact us and we'll make a deal.</span>
    </blockquote>
    <img src="{{ assets }}/img/bg/package.jpg" class="bg" alt=""/>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Package</h1>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.package }}}
      {{{ md content.package-prices }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.package-packages }}}
      {{{ md content.package-accommodation }}}
    </div>
  </div>
</div>

<div id="team" class="page">
  <div class="row intro">
    <blockquote>
      <span>Meet the team</span>
    </blockquote>
    <img src="{{ assets }}/img/bg/team.jpg" class="bg" alt=""/>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Team</h1>
    </div>

    <div class="large-12 columns">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
        <li>
          <img class="media-small" src="{{ assets }}/img/team/dragan-pusica-pushka.jpg" alt=""/>
          {{{ md content.team-puska }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/ilija-nikitovic.jpg" alt=""/>
          {{{ md content.team-ilija }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/dirk-derksen.jpg" alt=""/>
          {{{ md content.team-dirk }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/oleg-axenov.jpg" alt=""/>
          {{{ md content.team-oleg }}}
        </li>
        <li>
          <img class="media-small" src="{{ assets }}/img/team/tamara-bar-staff.jpg" alt=""/>
          {{{ md content.team-tamara }}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="video" class="page">
  <div class="row intro">
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Video</h1>
    </div>

    <div class="large-4 columns large-offset-2">
      <div class="video-container media-big">
        <iframe width="560" height="315" src="//www.youtube.com/embed/5jjFq3b-lWc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="large-4 columns large-offset-2 end">

    </div>
  </div>
</div>

<div id="faq" class="page">
  <div class="row intro">
    <blockquote>
      <span>When</span><br>
      the season starts<br>
      and how long it lasts?
    </blockquote>
    <img src="{{ assets }}/img/bg/faq.jpg" class="bg" alt=""/>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Frequently asked questions</h1>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.faq-1 }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.faq-2 }}}
    </div>
  </div>
</div>

<div id="price" class="page">
  <div class="row intro">
    <blockquote>
      We will take care of the highest quality of your taining,<br>
      <span>as well as safety and fun!</span>
    </blockquote>
    <img src="{{ assets }}/img/bg/price.jpg" class="bg" alt=""/>
  </div>

  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Price</h1>
    </div>

    <div class="large-4 columns large-offset-2">
      {{{ md content.price-1 }}}
    </div>

    <div class="large-4 columns end">
      {{{ md content.price-2 }}}
    </div>
  </div>
</div>

<div id="contact" class="page">
  <div class="row sub-page">
    <div class="large-8 columns large-offset-2 end">
      <h1>Be in touch</h1>
    </div>

    <div class="large-4 columns large-offset-2">
      <a target="_blank" href="https://maps.google.com/maps?ll=41.882092,19.318678&z=14&t=h&hl=en-US&gl=US&mapclient=embed&q=41%C2%B052%2755.6%22N+19%C2%B019%2707.2%22E">
        <img class="media-big" src="{{ assets }}/img/map.png" alt="Google map location"/>
        <h5>Google map location</h5>
      </a>
    </div>

    <div class="large-4 columns end">
      {{{ md content.contact }}}
    </div>
  </div>
</div>
