---
title: Home
position: 1
---
{{{ md content.home }}}

<div class="row">
  <div class="large-6 columns end">
    {{{ md content.in-general }}}
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    {{{ md content.in-general-spot }}}
    {{{ md content.in-general-currency-payment }}}
  </div>

  <div class="large-6 columns">
    {{{ md content.in-general-get-there }}}
    {{{ md content.in-general-visa }}}
  </div>
</div>






{{{ md content.school }}}
{{{ md content.package }}}
{{{ md content.team }}}
{{{ md content.video }}}
{{{ md content.faq }}}
{{{ md content.price }}}
{{{ md content.contact }}}