<div id="navigation">
  <div class="row">
    <img id="logo" class="hide-for-small" src="{{ assets }}/img/icons/sandbox.png" alt="twiter logo"/>
    <ul id="nav-main">
      <!-- you can exclude pages using \{{#isnt}} helper: \{{#isnt data.title 'Blog'}} -->
      {{#withSort pages "data.position" }}
        <li{{#if this.isCurrentPage}} class="active"{{/if}}>
          <a href="#{{this.basename}}">{{ data.title }}</a>
        </li>
      {{/withSort}}
    </ul>

    <!--<ul id="nav-social">-->
      <!--<li><a target="_blank" href="https://www.facebook.com/Sandbox.beach"><img src="{{ assets }}/img/icons/twiter.png" alt="twiter logo"/></a></li>-->
      <!--<li><a target="_blank" href="https://www.facebook.com/Sandbox.beach"><img src="{{ assets }}/img/icons/facebook.png" alt="facebook logo"/></a></li>-->
      <!--<li><a target="_blank" href="https://www.facebook.com/Sandbox.beach"><img src="{{ assets }}/img/icons/youtube.png" alt="youtube logo"/></a></li>-->
    <!--</ul>-->
  </div>
</div>



