<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{assets}}/css/main.css">
    <script src="{{assets}}/js/modernizer.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {{> navigation }}
    {{> body }}
    {{> widget }}

    {{#if production}}
      <script src="{{assets}}/js/jquery.min.js"></script>
      <script src="{{assets}}/js/main.min.js"></script>
    {{else}}
      <script src="{{assets}}/js/jquery.js"></script>
      <script src="{{assets}}/js/main.js"></script>
    {{/if}}

    <script>$(document).foundation();</script>
  </body>
</html>
