<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kitesurf klub Sandbox at Ada Bojana, Montenegro. Spend active vacation in kitesurf school or be lazy in our Beach Bar" />
    <meta name="keywords" content="Kitesurfing,school,sport,vacation,Ada Bojana,Beach bar" />
    <meta name="author" content="Danica Gilić & Ivan Maksimović (prefabricated goat)" />

    <title>{{title}}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WPTMJ4Q');</script>
    <!-- End Google Tag Manager -->

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{assets}}/css/vendor/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{assets}}/css/sandbox.min.css?v=2">
    <script src="{{assets}}/js/modernizer.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPTMJ4Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="top"></div>
    {{> navigation }}
    {{> body }}
    {{> widget }}

    <span>© 2017 Sandbox Kitesurfing Club</span>
    <a href="https://www.behance.net/prefabricatedgoat">by prefabricatedgoat</a>
    {{#if production}}
      <script>
        // Picture element HTML5 shiv
        document.createElement( "picture" );
      </script>
      <script src="{{assets}}/js/picturefill.min.js" async></script>
      <script src="{{assets}}/js/jquery.min.js"></script>
      <script src="{{assets}}/js/main.min.js"></script>
      <!-- Add fancyBox -->
      <link rel="stylesheet" href="{{assets}}/js/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
      <script type="text/javascript" src="{{assets}}/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    {{else}}
      <script>
        // Picture element HTML5 shiv
        document.createElement( "picture" );
      </script>
      <script src="{{assets}}/js/picturefill.min.js" async></script>
      <script src="{{assets}}/js/jquery.js"></script>
      <script src="{{assets}}/js/main.js?v=2"></script>
      <!-- Add fancyBox -->
      <script type="text/javascript" src="{{assets}}/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    {{/if}}

    <script>
      $(document).foundation();

      $(document).ready(function() {
        $(".fancybox").fancybox(
            {
              helpers: {
                overlay: {
                  locked: false
                }
              }
            }
        );
      });
    </script>
  </body>
</html>
